<div *ngFor="let item of items">
  <div *ngIf="item['quantity']>0">
    Name:{{item['name']}}
  <img [src]="item.imageUrl" >
  Price:{{item.price}}
  Quantity:{{item['quantity']}}
  <button (click)="restaurantService.addItem(item)">
    Add
  </button>
  <button (click)="restaurantService.removeItem(item)">
    Remove
  </button>
</div>
  </div>
  <div *ngIf="restaurantService.isCartEmpty() else cartNotEmpty">
    <span>Currently you do not have any items in your cart please add items and then come back. We are waiting...</span>
</div>
  <ng-template #cartNotEmpty><br/><br/><br/><br/>Total Price: {{restaurantService.calculatePrice()}}</ng-template>

